/* Colors:
    - Orange: F06449;
    - White: F9F7F6;
    - Grey: DADAD9;
    - Light Light Text: 9FAFB6;
    - Light Text: 4F6D7A;
    - Dark Text: 151515; 
    - Shadow: B3B3B2; 
*/ 

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body{
    background-color: grey;
    font-family: 'Roboto Slab', serif;
}

nav.navbar{
    margin: 0px 0px 45px 0px;
    padding: 0px 15px;
    box-shadow: 0px 3px #B3B3B2;
}

.navbar-brand{
    background-color: #F06449;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 3px #C5523C;
}

nav.navbar a.navbar-brand{
    color: white;
}

nav.navbar a.navbar-brand:hover{
    color: white;
}

nav.navbar a.navbar-brand:focus{
    color: white;
}


.main{
    background-color: white;
    padding: 15px;
    box-shadow: 3px 3px #B3B3B2;
    margin-bottom: 50px;
}

img{
    float: left;
    margin-right: 15px;
}

p{
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Roboto', sans-serif;
}

form{
    text-align: left;
    font-family: 'Roboto', sans-serif;  
    color: #4F6D7A;
}

input[type=text], select, textarea{
    font-family: monospace;
    font-size: 14px;
    color: #757575;
    background-color: white;
    padding: 2px;  
    margin: 15px;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid #F06449;  
    outline: none;
    resize: none;
}

textarea{
    width: 90%;
}

input[type=text]:focus, select:focus, textarea:focus{
    background-color: #F9F7F6;
}

input[type=submit]{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    text-decoration: none;
    background-color: #F06449;  
    color: #F9F7F6;
    padding: 10px 30px;
    margin-left: 15px;
    border: none;   
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

input[type=submit]:hover{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    text-decoration: none;
    color: #F9F7F6;
    background-color: #C5523C;   
    padding: 10px 30px;  
    margin-left: 15px;
    border: none;
    cursor: pointer;
}

div.gallery{
    position: relative;
    margin: 15px;
}

.gallery-thumb{
}

.image-link{
    position: absolute;
}

.caption{
    color: white;
    background-color: #F06449;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
}



a:hover{
    text-decoration: none;
}

.card{
    margin-bottom: 15px;
}

footer{
    text-align: center;
    background-color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-shadow:  0px -3px #B3B3B2;
}

.footer{
    width: 400px;
    margin: auto;
    color: white;
    background-color: #F06449;
    box-shadow: 0px -3px #C5523C;
}

/* These pieces of code hide the scrollbar, taken from Stack Overflow, 
here: https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    height: 0px;
    background: transparent;  /* optional: just make scrollbar invisible */
}